* {
    margin: 0;
    padding: 0;
}
section{
    background-color: blue;
}
.video {
   

    &-title {
        color: aliceblue;
        text-align: center;
        padding-top: 3rem;
    }

    &-links {
       display:flex;
       justify-content: space-around;
     
        
       
      

        &__html {
            background-color: #fff;
            max-width: 300px;
            border: 2px solid red;
            border-radius: 10%;
           
            
            img {
                width: 300px;
                border-radius: 10%;
            }

            &_cont {
                margin: 10px auto;
                padding: 10px 30px;
                color: red;
                h4{
                    margin: 10px auto;
                }
                p{
                    line-height:1.2rem;
                    margin-bottom: 2.3rem ;
                }
            }

        }
    }

}